#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  keymap {
    compatible = "zmk,keymap";
     
    test_layer {
      bindings = <
        &kp J &kp L &kp U &kp Y &kp SQT
        &kp M &kp N &kp E &kp I &kp O 
        &kp K &kp H &kp COMMA &kp DOT &kp SLASH 
        &kp ENTER &kp BACKSPACE &kp DELETE 
      >;
    };
  };
};
