#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  keymap {
    compatible = "zmk,keymap";
     
    test_layer {
      bindings = <
        &kp J &kp L &kp U &kp Y &kp ' 
        &kp M &kp N &kp E &kp I &kp O 
        &kp K &kp H &kp , &kp . &kp / 
        &kp 1 &kp 2 &kp 3 
      >;
    };
  };
};
